*{
    color: rgb(78, 62, 62);
    padding-top: 0mm;
    text-align: center;
background-color: rgb(69, 197, 118);
font-weight: bolder;
font-style: italic;
border-bottom-left-radius: inherit;
}
font-family: sans-serif;
font-weight: bolder;
}

