*{
    color: rgb(12, 12, 12);
    background-color: rgb(104, 104, 170);
    padding-top: 0mm;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    border-bottom-left-radius: inherit;
}
.navbar{
    text-align: center ;
border: 3px black;

}
.logo{
    float: left;
}
.list{
    display: inline-block;
    text-align: left;

}
