*{
    color: rgb(12, 12, 12);
    padding-top: 0mm;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    border-bottom-left-radius: inherit;
}
.navbar{
    align nav-left ;


}
.logo{
    float: left;
}

